body{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(8, 8, 8);
    color: white;
}

header{
    text-align: center;
    background: rgba(40, 51, 66, 0.884) ;
    padding: 1rem;
    color: rgb(255, 61, 142);
}

header h1{
    margin-top: 0;
}

nav a {
    margin: 1rem;
    color: rgb(51, 224, 94);
    font-weight: 650;
    line-height: 2em;
}

nav a:hover{
    color: rgb(18, 198, 253);
}

main{
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 .5rem;   
}

section{
   margin: 2rem 0;
   /* background-color: rgba(173, 235, 49, 0.822);
   padding: 1rem; */
   border-left: .5rem solid #ffff8f;
}

section h3{
    background-color: rgb(250, 75, 75);
    margin: 0;
    padding: 1rem;
}

section p{
    background-color: rgba(252, 192, 205, 0.856);
    margin: 0;
    padding: 1rem;
}

img{
    margin: 0 auto;
    display: block;
    max-width: 480px;
    margin-bottom: 1rem;
}

footer{
    text-align: center;
    background-color: rgb(250, 75, 75);
    color:white;
    padding: 1.5rem;
    margin-top: 1rem;
    font-weight: 650;
}